{{yield}}

<ul class="main-menu text--large">
  {{#link-to 'beaches'}}<li>1 Beaches</li>{{/link-to}}
  <li class="inactive">2 Surfing</li>
  <li class="inactive">3 Clothing</li>
  <li class="inactive">4 Eating &amp; drinking</li>
  <li class="inactive">5 Places to stay</li>
</ul>

<ul class="sub-menu">
  {{#link-to 'about'}}<li>About</li>{{/link-to}}
  <li>Contribute on Github</li>
</ul>
