{{outlet}}

<h1>About</h1>
<p>Hi! I created this project because I felt that beyond news articles, there wasn't a one-stop place to find information about Rockaway Beach.</p>
<p>This <a href="https://github.com/marineb/rockaway-beach" target="_blank">project</a> is open on Github. If you'd like to contribute content, you can fork it and submit a pull request.</p>
<p>If you have feedback, you can email at <a href="mailto:hello@marineboudeau.com">hello@marineboudeau.com</a>.</p>
<p>Marine<br><a href="http://twitter.com/marineboudeau" target="_blank">@marineboudeau</a></p>
