{{title "About"}}

{{outlet}}

<h1>About</h1>
<p>Hi! I created this project because I couldn't find a one-stop source about Rockaway Beach.</p>
<p>This <a href="https://github.com/marineb/rockaway-beach" target="_blank">project</a> is open on Github. If you'd like to contribute content, you can fork it and submit a pull request.</p>
<p>To share your feedback or suggest corrections, you can email me at <a href="mailto:hello@marineboudeau.com">hello@marineboudeau.com</a>.</p>
<p>Marine<br><a href="http://twitter.com/marineboudeau" target="_blank">@marineboudeau</a></p>
<p></p>
