{{outlet}}

<h1>About</h1>
<p>Hi! I created this project because I felt that beyond news articles, there wasn't a place to find information about Rockaway Beach.</p>
<p>If you'd like to contribute, visit the github project. You can also <a href="mailto:hello@marineboudeau.com">email me</a>.</p>
<p>
  Marine<br>
  <a href="http://twitter.com/marineboudeau">@marineboudeau</a>
</p>
