{{outlet}}

<h1>About</h1>
<p>Hi! I created this project because I felt that beyond news articles, there wasn't a place to find information about Rockaway Beach.</p>
<p>If you'd like to contribute, visit the <a href="https://github.com/marineb/rockaway-beach" target="_blank">github project</a>. You can also <a href="mailto:hello@marineboudeau.com">email me</a>.</p>
<p><a href="http://twitter.com/marineboudeau" target="_blank">@marineboudeau</a></p>
