{{title "Apparel"}}

{{outlet}}

<h1>Apparel</h1>

  <ul>
    <li><a href="http://www.localssurfschool.com/apparel" target="_blank">Local Surf School</a> makes cool hats.</li>
    <li><a href="http://www.rockawaybeachclothing.com/shop/" target="_blank">Rockaway Beach Clothing</a></li>
    <li>Not clothing, but worth mentioning: <a href="http://www.paulsurf.com/" target="_blank">Paul Surf</a> shapes boards locally.</li>
  </ul>
