{{title "Beaches"}}


{{outlet}}

<h1>Beaches</h1>

<p>Rockaway Beach is the <a href="https://en.wikipedia.org/wiki/Rockaway_Beach,_Queens" target="_blank">largest urban beach in the United States</a>. Below are the best spots to go to: </p>

<h2>Fort Tilden</h2>
<p>Fort Tilden is located at the very south of Rockaway Beach. It's a decommissioned military base, with some cool old buildings to check out.</p>
<p>You can get there via the 2 train to Brooklyn College, followed by the Q35 bus. Stop at the first stop after the bridge, that's Beach 169th. Head to the beach, and walk South (towards your right).</p>
<p>No lifeguards on this beach, but it has a free-er feel.</p>

<h2>Jacob Riis Beach</h2>
<p>It's pretty much right where the Q35 bus will drop you off above. Just walk to the beach, head north (towards your left) for a "block". There are different sections within Jacob Riis Beach: family, queer, etc.</p>
<p>During the summer months, lots of food vendor, music, etc. Jacob Riis is wider and more spacious.</p>

<h2>Other beaches</h2>
<p>Anything between Beach 86th Street and Beach 106th Street is good to go. The city has been renovating this area after Sandy. New bathrooms and medical centers have been created in these well designed elevated cabins. Take a look at the {{#link-to 'eat-drink'}}eating{{/link-to}} section. This may help you decide. Lots of good spots to eat, drink and dance.</p>

<p>This area, north of Jacob Riis, is accessible either via the 2 train, then Q35, then Q22 (pick it up at Jacob Riis Beach) OR you can also take the A train to Far Rockaway and/or the shuttle. With this second option, you'd be coming from the north.</p>

<p>You won't be able to go swimming in the reserved {{#link-to 'surfing'}}surfing spots{{/link-to}}. Keep in mind that the city park rangers will keep you out of the water (around 92nd st, 67th st). You can discretely swim on the edges of these beaches, as long as you're paying attention to potential incoming surfers. Or usually, the spot right next to it will be swimmers only.</p>
