{{title "Beaches"}}


{{outlet}}

<h1>Beaches</h1>

<p>Stretching for miles along the Rockaway Peninsula in Queens, Rockaway Beach is the <a href="https://en.wikipedia.org/wiki/Rockaway_Beach,_Queens" target="_blank">largest urban beach in the United States</a>. It’s easy to get there via public transportation. These are the best spots to visit:</p>

<h2>Fort Tilden</h2>
<p>Fort Tilden is located at the south end of Rockaway Beach. It's a decommissioned military base, with some cool old buildings and abandoned bunkers that are worth checking out.</p>
<p>To get there, take the 2 train to Brooklyn College, and then transfer to the Q35 bus. Get off at the first stop after the bridge, Beach 169th St. From there, walk south until you reach the beach.</p>
<p>There are no lifeguards on this beach, but it’s usually less crowded, and has a more relaxed feel.</p>

<h2>Jacob Riis Beach</h2>
<p>The Q35 bus will drop you off right at Jacob Riis Park. On the beach, there are different designated sections, including family and queer. During the summer months, you’ll find lots of food vendors and live music here. Jacob Riis is also wider and more spacious than other sections of Rockaway Beach.</p>

<h2>Other beaches</h2>
<p>Any spot between Beach 86th Street and Beach 106th Street makes a nice visit, too. Since Hurricane Sandy, the city has renovated many buildings along the boardwalk, including public restrooms and lifeguard stations. If you’re having trouble deciding where to go, take a look at the {{#link-to 'eat-drink'}}local restaurant selection{{/link-to}}. This area has lots of good spots to eat, drink, and dance.</p>

<p>To get there, you can take the A train heading towards Far Rockaway, and transfer to the Rockaway Park Shuttle at Broad Channel. Or, you can take the 2 train to Brooklyn College and transfer to the Q35 bus. Then, at Jacob Riis Beach, transfer to the Q22 bus.</p>

<p>Keep in mind that there’s no swimming allowed at the reserved surfing spots, which are around Beach 92nd St. and Beach 67th St. You can swim discreetly on the edges of these beaches, as long as you're keeping an eye out for incoming surfers. Usually, there’s also a spot nearby reserved for swimmers only.</p>
