{{outlet}}

<h1>Beaches</h1>

<p>The beach is available throughout the Rockaway strip. Here are a few highlights:</p>

<h2 class="no-marge-bot">Fort Tilden</h2>
<p>At the very south of Rockaway Beach. You can get there via the 2 train to Brooklyn College, followed by the Q35 bus. Stop at the first stop after the bridge. Head to the beach, and walk South (that's right). No lifeguards on this becah, but it also has a free-er feel.</p>

<h2 class="no-marge-bot">Jacob Riis Beach</h2>
<p>It's pretty much right where the Q35 bus will drop you off above. Just walk to the beach, head north (that's left) for a "block". There are different sections within Jacob Riis: family, queer, etc.</p>
<p>During the summer months, lots of food vendor, music, etc. The beach there is very deep and really nice.</p>

<h2 class="no-marge-bot">Other beaches</h2>
<p>Anything north of there, accessible either via the 2 train, then Q35, then Q22 (pick it up at Jacob Riis Beach) OR you can also take the A train to Far Rockaway and/or the shuttle. With this second option, you'd be coming from the north.</p>

<p>You won't be able to go swimming in the reserved {{#link-to 'surfing'}}surfing spots{{/link-to}}. Keep in mind that the city park rangers will keep you out of the water (around 92nd st, 67th st). You can discretely swim on the edges of these beaches, as long as you're paying attention to potential incoming surfers. Or usually, the spot right next to it will be swimmers only. </p>

{{main-menu}}
