{{outlet}}

<h1>Surfing</h1>

<h2 class="five-marge-bot">Beaches</h2>
<p>Surf beaches are located at:
  <ul>
    <li>Beach 67 - Beach 71 St.</li>
    <li>Beach 87 - Beach 92 St.</li>
    <li>Beach 110 - Beach 111 St.</li>
  </ul>
</p>
<p>The A train will take you directly to Beach 67th Street (make sure you're on the Far Rockaway A train). For the other beaches, take the A train to Broad Channel, and switch to the shuttle.</p>
<p>Technically, you could also take the 2 train to Brooklyn College, then the Q35 bus to Riis Beach, and the Q22 bus down to any of these beaches. But it will take you much longer.</p>





{{main-menu}}
