{{title "Eat & Drink"}}

{{outlet}}

<h1>Eating &amp; drinking</h1>

<p>Lots of great places to eat. Here is the top of the list:</p>

<h3>Ripers (Beach 86th)</h3>
Outside on the beach. Covered by a large drape. <a target="_blank" href="https://www.yelp.com/biz/rippers-far-rockaway">Visit Yelp</a>.

<h3>Rockaway Beach Surf Club (Beach 87th)</h3>
Great frozen drinks, delicious tacos, really fun atmosphere. Parties &amp; DJs sometimes. Outdoor / indoor. Great decoration. <a target="_blank" href="https://www.yelp.com/biz/the-wharf-bar-and-grill-rockaway-park">Visit Yelp</a>.

<h3>Sayra’s Wine Bar (Beach 91st)</h3>
Good frozen drinks. <a target="_blank" href="https://www.yelp.com/biz/sayras-wine-bar-far-rockaway">Visit Yelp</a>.


<h3>Thai Rock (Beach 92st, Jamaica Bay)</h3>
Michelin recommended. <a target="_blank" href="https://www.yelp.com/biz/thai-rock-rockaway-beach">Visit Yelp</a>.

<h3>Bungalow Bar &amp; Restaurant (Beach 92st, Jamaica Bay)</h3>
<a target="_blank" href="https://www.yelp.com/biz/bungalow-bar-and-restaurant-rockaway-beach">Visit Yelp</a>.


<h3>Connolly’s Bar (Beach 95th)</h3>
Good frozen drinks. <a target="_blank" href="https://www.yelp.com/biz/connollys-bar-rockaway-beach">Visit Yelp</a>.

<h3>Bunch of things (Beach 96th)</h3>
There are a few bars and food stands at beach 96th. They're right on the beach.

<h3>Playland Motel (Beach 97th)</h3>
Awesome decor. <a target="_blank" href="https://www.yelp.com/biz/the-playland-motel-new-york">Visit Yelp</a>.

<h3>Breezy's BBQ (Beach 97th)</h3>
<a target="_blank" href="https://www.yelp.com/biz/breezys-bbq-rockaway-beach">Visit Yelp</a>.

<h3>Caracas (Beach 105th)</h3>
Cool atmosphere. Good music. Right on the beach. <a target="_blank" href="https://www.yelp.com/biz/caracas-arepa-bar-rockaway-park-3">Visit Yelp</a>.

<h3>The Warf (Beach 116th, Jamaica Bay)</h3>
<a target="_blank" href="https://www.yelp.com/biz/the-wharf-bar-and-grill-rockaway-park">Visit Yelp</a>.

<h3>Riis Beach Bazaar (Jacob Riis)</h3>
Various Brooklyn vendors (Ample Hills, Fletcher's, Ed &amp; Bev's, and many more). <a target="_blank" href="http://riisparkbeachbazaar.com/">Visit Website</a>.
