{{title "Eat & Drink"}}

{{outlet}}

<h1>Eating &amp; drinking</h1>

<h3><a target="_blank" href="https://www.yelp.com/biz/rippers-far-rockaway">Ripers</a> (Beach 86th)</h3>
A tent-covered burger joint right on the boardwalk.

<h3><a target="_blank" href="https://www.yelp.com/biz/the-wharf-bar-and-grill-rockaway-park">Rockaway Beach Surf Club</a> (Beach 87th)</h3>
An indoor/outdoor bar with delicious tacos, great frozen drinks, and a fun, beachy vibe. Sometimes there’s a DJ.

<h3><a target="_blank" href="https://www.yelp.com/biz/sayras-wine-bar-far-rockaway">Sayra’s Wine Bar</a> (Beach 91st)</h3>
Good frozen drinks and tapas.

<h3><a target="_blank" href="https://www.yelp.com/biz/thai-rock-rockaway-beach">Thai Rock</a> (Beach 92st, Jamaica Bay)</h3>
Michelin recommended Thai food.

<h3><a target="_blank" href="https://www.yelp.com/biz/bungalow-bar-and-restaurant-rockaway-beach">Bungalow Bar &amp; Restaurant</a> (Beach 92st, Jamaica Bay)</h3>
A casual seafood spot on the waterfront.

<h3><a target="_blank" href="https://www.yelp.com/biz/connollys-bar-rockaway-beach">Connolly’s Bar</a> (Beach 95th)</h3>
An Irish pub that serves pina coladas in styrofoam cups.

<h3><a target="_blank" href="https://www.yelp.com/biz/the-playland-motel-new-york">Playland Motel</a> (Beach 97th)</h3>
A fun spot for cocktails and tasty food with awesome decor.

<h3><a target="_blank" href="https://www.yelp.com/biz/breezys-bbq-rockaway-beach">Breezy's BBQ</a> (Beach 97th)</h3>
A beachside concession stand specializing in pulled pork.

<h3><a target="_blank" href="https://www.yelp.com/biz/caracas-arepa-bar-rockaway-park-3">Caracas</a> (Beach 105th)</h3>
Arepas and good music right on the beach.

<h3><a target="_blank" href="https://www.yelp.com/biz/the-wharf-bar-and-grill-rockaway-park">The Warf</a> (Beach 116th, Jamaica Bay)</h3>
Unpretentious bar food with a great view of Jamaica Bay.

<h3><a target="_blank" href="http://riisparkbeachbazaar.com/">Riis Beach Bazaar</a> (Jacob Riis)</h3>
Food stands with offerings from many different Brooklyn vendors, including Ample Hills Creamery, Fletcher’s Barbecue, Ed &amp; Bev’s, and more.

<h3>Beach 97th St.</h3>
There’s also a cluster of bars and food stands on the boardwalk by 97th St.
