{{title "Other Activities"}}

{{outlet}}

<h1>Other activities</h1>

  <ul>
    <li>
      <a href="http://www.brooklyngolfcenter.com/" target="_blank">Brooklyn Golf Center</a>: an 18-hole, par 3 golf course just off the boardwalk at Riis Park Beach.</li>
    <li><a href="http://marina59.com/watersports.html" target="_blank">Marina 59</a>: rent fishing skiffs, kayaks, and paddleboards on Jamaica Bay..</li>
    <li><a href="http://www.nyharborparks.org/visit/jaba.html" target="_blank">Jamaica Bay Wildlife Refuge</a></li>
  </ul>
