{{title "Other Activities"}}

{{outlet}}

<h1>Other Activities</h1>

  <ul>
    <li><a href="http://www.brooklyngolfcenter.com/" target="_blank">Brooklyn Golf Center</a>: 18-hole 3 par golf course right on the Beach at Fort Tilden.</li>
    <li><a href="http://marina59.com/watersports.html" target="_blank">Marina 59</a>: Motorized Fishing Skiff, Kayak and Stand UP Paddle Board rentals on Jamaica Bay.</li>
    <li><a href="http://www.nyharborparks.org/visit/jaba.html" target="_blank">Jamaica Bay Wildlife Refuge</a></li>
  </ul>
