{{title "Places to stay"}}

{{outlet}}

<h1>Places to stay</h1>
<ul>
  <a href="http://www.playlandmotel.com/" target="_blank"><li>Playland Motel</li></a>
  <a href="http://www.kookhouse.com/" target="_blank"><li>KookHouse</li></a>
  <a href="http://www.truckafloat.com/" target="_blank"><li>Truck-A-Float (Marina)</li></a>
</ul>
