{{title "Places to stay"}}

{{outlet}}

<h1>Places to stay</h1>
<ul>
  <li><a href="http://www.truckafloat.com/" target="_blank">Truck-A-Float</a> (Marina)</li>
  <li><a href="https://www.airbnb.com/rooms/6520350?guests=1&s=Ktv6OVB0" target="_blank">The Kook House</a> (Beach 67th, Airbnb)</li>
  <li><a href="https://www.airbnb.com/rooms/13752309?guests=1&s=Ktv6OVB0" target="_blank">Beach Bungalow 1</a> (Beach 87th, Airbnb)</li>
  <li><a href="https://www.airbnb.com/rooms/4792529?guests=1&s=Ktv6OVB0" target="_blank">Beach Bungalow 2</a> (Beach 90th, Airbnb)</li>
  <li><a href="https://www.airbnb.com/rooms/13865028?guests=1&s=Ktv6OVB0" target="_blank">Four Bedrooms</a> (Beach 94th, Airbnb)</li>
  <li><a href="http://www.playlandmotel.com/" target="_blank">Playland Motel</a> (Beach 97th)</li>
</ul>
