{{title "Shop"}}

{{outlet}}

<h1>Shop</h1>

<p>Hats and socks coming soon!</p>
<p>10% of our sales will be donated to the NYC Surfrider foundation to clean and protect our New York beaches and ocean.   
<p><a href="http://eepurl.com/ca5HSL" target="_blank">Give us your email</a> and we'll let you know when our shop is up!</p>
