{{outlet}}

<h1>Surfing</h1>

<h2>Beaches</h2>
<p>Surf beaches are located at:
  <ul>
    <li>Beach 67 - Beach 71 St.</li>
    <li>Beach 87 - Beach 92 St.</li>
    <li>Beach 110 - Beach 111 St.</li>
  </ul>
</p>
<p>The A train will take you directly to Beach 67th Street (make sure you're on the Far Rockaway A train). For the other beaches, take the A train to Broad Channel, and switch to the shuttle.</p>
<p>Technically, you could also take the 2 train to Brooklyn College, then the Q35 bus to Riis Beach, and the Q22 bus down to any of these beaches. But it will take you much longer.</p>


<h2>Surf lessons</h2>
<h3>Locals Surf School</h3>
They offer group classes, individual classes, summer camps, etc. They're located at Beach 67th St. The teacher to student radio for group lessons is 1:3. <a href="http://www.localssurfschool.com/" target="_blank">Visit website</a>.

<h2>Renting equipment</h2>
<h3>Locals Surf School</h3>
Text or email them a day in advance, and they'll put a foam board on the side for you. You can pick it up from their tent at Beach 67th. They're usually on the beach by 8AM -- great if you want to ride early.

<h3>Breakwater Surf</h3>
Located off the train at beach 67th, they open at 8AM on the weekends and 9AM during the week. They have various boards: foam boards and hard top boards (from 6' to 9'). On the weekend during the summer, get there before 10:30AM to be able to find a board to rent. They sell out quickly. <a href="http://breakwatersurfcompany.com/" target="_blank">Visit website</a>.

<h3>Boarders Surf Shop</h3>
Boarders has several locations: 92nd Street, 98th Street and 68th Street (pop up on the beach through the end of September). They open at 10AM in all locations and offer a wide range of boards options: foam boards and hard top boards (from 6' to 9'). The pop up shop only has larger boards. <a href="http://www.boarderssurfshop.com/" target="_blank">Visit website</a>.


<h2>Surfboard lockers</h2>
If you decide to buy your own board, and to store it at Rockaway Beach, you have a few options:
<ul>
  <li><a href="http://www.boarderssurfshop.com/" target="_blank">Boarders Surf Shop</a> at 92nd Street offers 24/7 locker access for $70/month.</li>
  <li><a href="http://breakwatersurfcompany.com/" target="_blank">Breakwater Surf</a> at 67th Street offers locker access during their opening hours for $40/month.</li>
  <li>Some surfers also share tiny studio or shack rentals to store their boards.</li>
</ul>



{{main-menu}}
