{{title "Surfing"}}

{{outlet}}

<h1>Surfing</h1>

<h2>Beaches</h2>
<p>Areas dedicated to surfing can be found at:
  <ul>
    <li>Beach 67th to 69th St. (the largest area for surfing)</li>
    <li>Beach 87th to 92nd St.</li>
    <li>Beach 110th to 111th St.</li>
  </ul>
</p>
<p>The A train will take you directly to Beach 67th St. (just make sure you're on a  Far Rockaway-bound A train; the Lefferts Boulevard branch doesn’t go to the Rockaways). For the other beaches, take the A train to Broad Channel and switch to the shuttle train.</p>
<p>Depending on where you’re coming from, you can also take the 2 train to Brooklyn College and transfer to the Q35 bus to Riis Beach. Once you reach Riis Park, transfer to the Q22 bus, which will take you to any of these beaches.</p>

<h2>Surf lessons</h2>
<ul>
  <li><a href="http://www.localssurfschool.com/" target="_blank">Locals Surf School</a>, located at Beach 69th St., offers both group and individual lessons, as well as summer camp for kids.</li>
  <li><a href="http://surflessonsnewyork101.com/" target="_blank">New York Surf School</a></li>
  <li><a href="http://alohanycsurfschool.com/" target="_blank">Aloha NYC Surf School</a></li>
  <li><a href="http://www.boarderssurfshop.com/files/Surfing_Lessons.html" target="_blank">Boarders</a></li>
</ul>

<h2>Renting equipment</h2>
<h3><a href="http://www.localssurfschool.com/" target="_blank">Locals Surf School</a></h3>
<p>If you text or email them a day in advance, they’ll put a foam board aside for you. You can pick it up at their tent at Beach 67th St. They're usually on the beach by 8am—great if you want to ride early.</p>

<h3><a href="http://breakwatersurfcompany.com/" target="_blank">Breakwater Surf</a></h3>
<p>Located right by the  Beach 67th Street subway stop, they open at 8am on weekends and 9am during the week. You can choose from both foam and hard top boards in sizes between six to nine feet. They sell out quickly on summer weekends, so be sure to get there by 10:30am.</p>

<h3><a href="http://www.boarderssurfshop.com/" target="_blank">Boarders Surf Shop</a></h3>
<p>Boarders has several locations: 92nd St., 98th St., and a pop up shop at 68th Street that runs through the end of September. All locations open at 10am and offer both foam and hard top boards from six to nine feet (though the pop up shop only has larger boards).</p>


<h2>Surfboard lockers</h2>
<ul>
  <li><a href="http://www.boarderssurfshop.com/" target="_blank">Boarders Surf Shop</a>  offers 24/7 locker access for $70/month (92nd St.).</li>
  <li><a href="http://breakwatersurfcompany.com/" target="_blank">Breakwater Surf</a> offers locker access during operating  hours for $40/month (67th St.).</li>
  <li><a href="http://marina59.com/watersports.html" target="_blank">Marina 59</a> offers locker rentals for $75/month (59th St.).</li>
  <li>Some surfers also share tiny studios or rental shacks to store their boards.</li>
</ul>
