html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  background: $back-up;
  background: linear-gradient(30deg, $pink, $orange);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Avenir', 'Helverica Neue';
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
}

li {
  padding: 5px 0;
}
