.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 30px 50px 30px;
}

.logo {
  width: 75px;
  margin: 0 auto;
  display: block;
  padding: 22px 0 15px 0;
}

.back-home {
  margin: 20px 0;
}
