ul.main-menu,
ul.sub-menu {
  padding: 0;
  list-style: none;
}

.main-menu {
  li > a {
    color: white;

    &:hover {
      color: $halfwhite;
    }

  }

  li {
    padding: 8px 0;

    &.inactive {
    color: $halfwhite;
    text-decoration: line-through;
    }
  }

}

.sub-menu {

  li > a {
    color: white;

    &:hover {
      color: $halfwhite;
    }
  }

  li {
    padding: 4px 0;
  }

}

.copyrights {
  font-size: 12px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: 0;
  margin-top: 30px;

  a {
    color: $halfwhite;
    border-bottom: dotted 1px $halfwhite;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}
