$halfwhite: rgba(255,255,255,.5);
$yellow: #FDFF00;

// Backgrounds
$back-up: #ff7379;
$pink: #FF0078;
$orange: #FFAB79;

// Text
$weird-blue: #73FFF5;

// Not used. These were test for links.
// $orange: #FFAD00;
// $brown: #852E36;
