html {
  height: 100%; }

body {
  height: 100%;
  margin: 0 auto;
  background: #ff7379;
  background: linear-gradient(30deg, #FF0078, #FFAB79);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Avenir', 'Helverica Neue';
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100; }

li {
  padding: 5px 0; }

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 30px 50px 30px; }

.logo {
  width: 75px;
  margin: 0 auto;
  display: block;
  padding: 22px 0 15px 0; }

.back-home {
  margin: 20px 0; }

ul.main-menu,
ul.sub-menu {
  padding: 0;
  list-style: none; }

.main-menu li > a {
  color: white; }
  .main-menu li > a:hover {
    color: rgba(255, 255, 255, 0.5); }

.main-menu li {
  padding: 8px 0; }
  .main-menu li.inactive {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through; }

.sub-menu li > a {
  color: white; }
  .sub-menu li > a:hover {
    color: rgba(255, 255, 255, 0.5); }

.sub-menu li {
  padding: 4px 0; }

.copyrights {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
  margin-top: 30px; }
  .copyrights a {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: dotted 1px rgba(255, 255, 255, 0.5); }
    .copyrights a:hover {
      color: white;
      border-color: white; }

a {
  text-decoration: none;
  color: #FDFF00;
  transition: all 0.2s; }
  a:hover {
    color: #FFAB79; }

.text--large {
  font-size: 20px; }

h1, h2 {
  font-weight: 400; }

h2 {
  margin: 36px 0 5px 0; }

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 26px 0 5px 0; }

p {
  margin-top: 0; }
